/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-027-espaçoverde: unicode(ea02);
$icon-026-smarthome: unicode(ea03);
$icon-028-negócios: unicode(ea04);
$icon-025-tv: unicode(ea05);
$icon-025-economia: unicode(ea06);
$icon-023-accumulator: unicode(ea07);
$icon-020-elevator: unicode(ea08);
$icon-024-móvel: unicode(ea09);
$icon-015-running: unicode(ea0a);
$icon-022-smart-home: unicode(ea0b);
$icon-021-pool-1: unicode(ea0c);
$icon-017-wheelchair: unicode(ea0d);
$icon-019-pool: unicode(ea0e);
$icon-018-bath-tub: unicode(ea0f);
$icon-002-people: unicode(ea10);
$icon-016-insurance: unicode(ea11);
$icon-012-parking: unicode(ea12);
$icon-014-sport-1: unicode(ea13);
$icon-013-game-controller: unicode(ea14);
$icon-011-cyber: unicode(ea15);
$icon-008-workspace: unicode(ea16);
$icon-010-dog: unicode(ea17);
$icon-009-cocktail: unicode(ea18);
$icon-007-terrace: unicode(ea19);
$icon-005-planet-earth: unicode(ea1a);
$icon-004-transport: unicode(ea1b);
$icon-006-medal: unicode(ea1c);
$icon-003-signal: unicode(ea1d);
$icon-031-saladejantar: unicode(ea1e);
$icon-001-sport: unicode(ea1f);
$icon-036-lavanderia: unicode(ea20);
$icon-030-plantas: unicode(ea21);
$icon-035-cowork: unicode(ea22);
$icon-034-piscina1: unicode(ea23);
$icon-032-espaços: unicode(ea24);
$icon-033-proximidade: unicode(ea25);
$icon-029-investimento: unicode(ea26);
$icon-icon-print: unicode(ea27);

.icon-027-espaçoverde::before {
  content: $icon-027-espaçoverde;
}

.icon-026-smarthome::before {
  content: $icon-026-smarthome;
}

.icon-028-negócios::before {
  content: $icon-028-negócios;
}

.icon-025-tv::before {
  content: $icon-025-tv;
}

.icon-025-economia::before {
  content: $icon-025-economia;
}

.icon-023-accumulator::before {
  content: $icon-023-accumulator;
}

.icon-020-elevator::before {
  content: $icon-020-elevator;
}

.icon-024-móvel::before {
  content: $icon-024-móvel;
}

.icon-015-running::before {
  content: $icon-015-running;
}

.icon-022-smart-home::before {
  content: $icon-022-smart-home;
}

.icon-021-pool-1::before {
  content: $icon-021-pool-1;
}

.icon-017-wheelchair::before {
  content: $icon-017-wheelchair;
}

.icon-019-pool::before {
  content: $icon-019-pool;
}

.icon-018-bath-tub::before {
  content: $icon-018-bath-tub;
}

.icon-002-people::before {
  content: $icon-002-people;
}

.icon-016-insurance::before {
  content: $icon-016-insurance;
}

.icon-012-parking::before {
  content: $icon-012-parking;
}

.icon-014-sport-1::before {
  content: $icon-014-sport-1;
}

.icon-013-game-controller::before {
  content: $icon-013-game-controller;
}

.icon-011-cyber::before {
  content: $icon-011-cyber;
}

.icon-008-workspace::before {
  content: $icon-008-workspace;
}

.icon-010-dog::before {
  content: $icon-010-dog;
}

.icon-009-cocktail::before {
  content: $icon-009-cocktail;
}

.icon-007-terrace::before {
  content: $icon-007-terrace;
}

.icon-005-planet-earth::before {
  content: $icon-005-planet-earth;
}

.icon-004-transport::before {
  content: $icon-004-transport;
}

.icon-006-medal::before {
  content: $icon-006-medal;
}

.icon-003-signal::before {
  content: $icon-003-signal;
}

.icon-031-saladejantar::before {
  content: $icon-031-saladejantar;
}

.icon-001-sport::before {
  content: $icon-001-sport;
}

.icon-036-lavanderia::before {
  content: $icon-036-lavanderia;
}

.icon-030-plantas::before {
  content: $icon-030-plantas;
}

.icon-035-cowork::before {
  content: $icon-035-cowork;
}

.icon-034-piscina1::before {
  content: $icon-034-piscina1;
}

.icon-032-espaços::before {
  content: $icon-032-espaços;
}

.icon-033-proximidade::before {
  content: $icon-033-proximidade;
}

.icon-029-investimento::before {
  content: $icon-029-investimento;
}

.icon-icon-print::before {
  content: $icon-icon-print;
}

