/*
    DEMO STYLE
*/

/* imports */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* font-family: 'Rajdhani', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* usefull */
html {
    scroll-behavior: smooth;
}
a{
    color: initial;
    text-decoration: none;
}
a:hover{
    color: initial;
    text-decoration: none;
}
.click-link:hover{
    cursor: pointer;
}
/* typography and colors */
.project{
    max-width: 460px;
    width: 100%;
}
.project span{
    font-family: Roboto, Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.1em;
}
p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}
.header-text p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.header-text p span{
    font-weight: 600;
}
.indicators-counter p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
}
.about-features p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.point-info span{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    top: 12px;
    /* left: 24px; */
    /* padding-left: 24px;
    margin-top: 40px; */
}
.progress-get{
    padding-left: 50px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.progress-get p small{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
}
.progress-get .value{
    position: absolute;
    right: 0;
    bottom: -10px;
    margin: 0;
}

h1{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height */


    color: #fff;
}
h2{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 71px;

    color: #fff;
}
h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;

    color: #fff;
}
h4{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height */


    color: #fff;
}
.title-72{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 92px;
}
.paragraph-20{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #fff;
}
.caption-20{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    /* identical to box height */

    color: #fff;
}
.caption-26{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.01em;
    /* identical to box height */

    color: #fff;
}
.caption-18{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #fff;
}
.caption-18-600{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #fff;
}
.caption-16{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #fff;
}
.span-16{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: #858585;
}
.caption-14{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: #fff;
}
.caption-18-medium{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #fff;
}
.caption-title{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.caption-15{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;

    color: #fff;
}
.badget-20{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #fff;
}
.mob-h1{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */


    color: #fff;
}
.mob-caption-btn-18{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #fff;
}
.mob-badget-inative-20{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #fff;
}
.mob-caption-16{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #fff;
}
.mob-paragraph-16{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    color: #fff;
}
.mob-caption-phone-20{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #fff;
}
.step-holder {
    position: relative;

}
.z-2{
    z-index: 5;
}
.z-3{
    z-index: 4;
}
.z-4{
    z-index: 3;
}
.z-5{
    z-index: 2;
}
.z-5{
    z-index: 1;
}

.step-active .z-2{
    z-index: 10;
}
.step-active .z-3{
    z-index: 9;
}
.step-active .z-4{
    z-index: 8;
}
.step-active .z-5{
    z-index: 7;
}
.step-active .z-5{
    z-index: 6;
}

/* .step-active{
    z-index: 10 !important;
} */
.step-initial{
    z-index: 15 !important;
}
.step-progress{
    width: 110%;
    border-top: 1px solid #C4C4C4;
    position: absolute;
    top: 18px;
    right: 74px;
}
.step-active .step-progress{
    border-top: 1px solid #111;
}
.step-initial .step-progress{
    border-top: 1px solid #e5e5e5;
}

.step-holder a{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}
.step-holder p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;

    color: #898989;
}
.step-active p{

    color: #111111;
}
.step-initial p{

    color: #111111;
}
.step{
    border: 1px solid #898989;
    border-radius: 100px;
    display: inline-block;
    background-color: #E5E5E5;

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #898989;

    position: relative;
}
.step-active .step{
    border: 1px solid #111111;
    border-radius: 100px;
    display: inline-block;
    background-color: #E5E5E5;

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    position: relative;

}
.step-initial .step{
    border: 1px solid #111111;
    border-radius: 100px;
    display: inline-block;
    background-color: #E5E5E5;

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    position: relative;

}

.lh-42{
    line-height: 42px;
}

/** sequencia de font-weight */
.fw-600{
    font-weight: 600;
}
.btn-blog-caller-spacing{
    padding-top: 15px;
    padding-bottom: 127px;
}
/** sequencia de line-height */
/*! por enquando n se faz necessario */
/** sequencia de cores */

.text-vermelho-get{
    color: #898989;
}
.text-red{
    color: #ce2902 !important;
}
.text-preto-azulado-get{
    color: #111111;
}
.text-cinza{
    color:  #EEEEEE;
}
.text-middle-gray{
    color: #2E2E2E;
}
.text-dark{
    color: #252525;;
}
.text-hex-9c9c9c{
    color: #9C9C9C;
}
.text-hex-797979{
    color: #797979;
}
.text-hex-797979-important{
    color: #797979 !important;
}
.text-hex-2E2E2E{
    color: #2E2E2E;
}

.background-vermelho-get{
    background: #898989;
}
.background-preto-azulado-get{
    background: #111111;
}
.background-cinza{
    background:  #EEEEEE;
}
.background-middle-gray{
    background: #2E2E2E;
}
.background-dark{
    background: #2B2B2B;
}
.background-hex-9c9c9c{
    background: #9C9C9C;
}
.background-hex-797979{
    background: #797979;
}
.background-hex-E5E5E5{
    background: #E5E5E5;
}
.bg-empreendimentos{
    /* background: linear-gradient(0deg, rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.7)), url(../imgs/empreendimentos-bg.jpg); */
    background: url(../imgs/empreendimentos-black-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.empreendimentos{
    padding-top: 100px;
}
.font-weight-medium{
    font-weight: 500;
}
.btn-outline-primary {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 4px;

    padding: 20px 72px;

    box-shadow: none !important;
}

.btn-outline-primary:hover {
    color: #252525;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
/* .btn-danger {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;

    padding: 20px 72px;

    box-shadow: none !important;
}

.btn-danger:hover {
    color: #FFFFFF;
    background-color: #FF3100;
    border-color: #FF3100;
} */
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #252525;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.get-dropdown:not(:disabled):not(.disabled):active, .get-dropdown:not(:disabled):not(.disabled).active,
.show > .get-dropdown.dropdown-toggle {
    color: #e5e5e5;
    background-color: #252525;
    border-color: #252525;
}
.btn-outline-primary:active {
    color: #252525;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.btn-outline-primary-fade {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: #111111;
    border: 1px solid #DADADA;
    border-radius: 4px;

    padding-left: 5px;
    padding-right: 5px;
    box-shadow: none !important;
}

.btn-outline-primary-fade:hover {
    color: #252525;
    background-color: #DADADA;
    border-color: #DADADA;
}
.btn-dark-get {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #fff;
    border: 1px solid #111;
    border-radius: 4px;

    padding: 20px 72px;
    background-color: #111;

    box-shadow: none !important;
}

.btn-dark-get:hover {
    color: #252525;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-outline-dark {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    color: #242424;
    border: 1px solid #242424;
    border-radius: 4px;

    padding: 20px 72px;

    box-shadow: none !important;
}
.aways-outlined-btn-holder .btn-outline-dark{
    color: #797979;
    border: 1px solid #898989;
}
.aways-outlined-btn-holder .btn-outline-dark:not(:disabled):not(.disabled):active, .aways-outlined-btn-holder .btn-outline-dark:not(:disabled):not(.disabled).active, .aways-outlined-btn-holder .show > .btn-outline-dark.dropdown-toggle{
    color: #111111 !important;
    background-color: transparent;
    border: 1px solid #111111 !important;

}
.aways-outlined-btn-holder .btn-outline-dark .active{
}
.step-6-form .btn-outline-dark{
    border: 1px solid #898989 !important;
    color: #898989 ;


}
.planta-thumb .btn-outline-dark {
    font-size: 16px;
    line-height: 20px;
    padding: 6px 4px;
    border: 1px solid #797979;

}
.step-holder .btn-outline-dark{
    background-color: #E5E5E5;
}
.btn-smaller{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    padding: 12px 20px;
}
.btn-bigger{
    font-size: 24px;
    line-height: 31px;

    padding: 8px 24px;

}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}
.btn-step{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}
.list-btns button{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-transform: uppercase;

    padding: 6px 16px;
}
.list-btns .active{
    font-weight: bold;
}
.btn-round{
    border-radius: 100px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!  conteudo de estilos  !!!!!!!!!!!!!!!!!!!!! */ /* START */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




/* * navbar */
#menu{
    -webkit-transition: all  ease-out .3s;
    -moz-transition: all  ease-out .3s;
    -o-transition: all  ease-out .3s;
    transition: all  ease-out .3s;

}
.nav-brand-img{
    margin: 0px 0px;
    -webkit-transition: all  ease-out .3s;
    -moz-transition: all  ease-out .3s;
    -o-transition: all  ease-out .3s;
    transition: all  ease-out .3s;
}
.brand-small{
    height: 42px;
    margin: 0;
}
.brand-smaller{
    height: 27px;
    margin: 0;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 24px;
    padding-left: 24px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.9);
}
.bg-dark {
    background-color: #242424 !important;
}

.bg-transparent{
    background: transparent !important;
}

.img-cover{
    object-fit: cover;
}
.book-img{
    max-width: 537px;
    width: 100%;
    max-height: 354px;
    height: 100%;
}
.emp1-img{
    max-width: 574px;
    width: 100%;
    max-height: 496px;
    height: 100%;
}

.sobre-img1{
    max-width: 512px;
    width: 100%;
    max-height: 363px;
    height: 100%;
    position: relative;
    z-index: 1;

}
.sobre-img2{
    max-width: 457px;
    width: 100%;
    max-height: 270px;
    height: 100%;

    position: relative;
    left: -185px;
    top: -53px;
    z-index: 1;


}
.sobre-img3{
    max-width: 633px;
    width: 100%;
    max-height: 404px;
    height: 100%;
    position: relative;
    z-index: 1;

}

.compactos-img{
    max-width: 147px;
    width: 100%;
    max-height: 212px;
    height: 100%;
}
.compactos-badge-img{
    max-width: 122px;
    width: 100%;
    max-height: 77px;
    height: 100%;
}
.img-small-builder{
    max-width: 158px;
    width: 100%;
    max-height: 118px;
    height: 100%;
    position: relative;
    z-index: 1;
}
.ap1-img{
    max-width: 633px;
    width: 100%;
    max-height: 404px;
    height: 100%;
    position: relative;
    z-index: 1;
}
.ap2-img-holder{
    max-width: 592px;
    max-height: 363.13px;
}
.ap2-img{
    max-width: 592px;
    width: 100%;
    max-height: 363.13px;
    height: 363px;
    position: relative;
    z-index: 1;
}
.ap2-img-mobile{
    max-width: 316px;
    width: 100%;
    max-height: 213px;
    height: 100%;
    position: relative;
    z-index: 1;
    right: -15px;
}
.ap3-img{
    max-width: 459px;
    width: 100%;
    max-height: 270px;
    height: 100%;
    z-index: 1;
    
    position: relative;
    left: -185px;
    top: -73px;
}
.ap3-img-mobile{
    max-width: 238px;
    width: 100%;
    max-height: 140px;
    height: 100%;
    z-index: 1;

    position: absolute;
    bottom: -112px;
    right: 139px;
}

.apemp-img{
    max-width: 633px;
    width: 100%;
    max-height: 507px;
    height: 100%;
    z-index: 1;
}
.mobile-img-banner{
    max-width: 229.38px;
    width: 100%;
    max-height: 322.4px;
    height: 100%;

}

.v-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vh-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bg-banner-black-full{
    background-color: black;
    height: 100vh;
    position: absolute;
    left: 0;
    /* right: 150px; */
    /* top: -194px; */
    opacity: .3;
    z-index: 0;
    width: 40%;
}
.bg-banner-black{
    background-color: black;
    height: 672px;
    position: absolute;
    left: 0;
    /* right: 150px; */
    /* top: -194px; */
    opacity: .3;
    z-index: 0;
    width: 40%;
}
.banner-img-holder{
    padding-right: 48px;
}
.banner-img-holder img{
    z-index: 1;
    position: relative;
}
.compactos{
    padding-top: 118px;
}
.compactos-2{
    padding-top: 144px;
}
.compactos-2-text{
    padding-top: 94px;
}
.compactos-3{
    padding-top: 145px;
}
.compactos-4{
    padding-top: 216px;
}

.col-spacing-right{
    padding-right: 48px;
}
.col-spacing-left{
    padding-left: 48px;
}
.col-spacing-right-sm{
    padding-right: 31px;
}
.col-spacing-left-sm{
    padding-left: 31px;
}
.text-spacing{
    padding-top: 24px;
}
.compactos-btn{
    padding-bottom: 124px;
}
#carousel-empreendimentos{
    padding-top: 87px;
}
.emp-spacing-right{
    padding-right: 42px;
}
.emp-spacing-left{
    padding-left: 42px;
}
.empreendimentos-icons-spacing{
    padding-top: 19px;
}
.empreendimentos-icons-spacing .col-4{
    padding-top: 26px;
}

.empreendimentos-icons-spacing .col-4 p{
    max-width: 139px;
}
.icon-emp{
    padding-bottom: 10px;
}
.card-transparent{
    background: transparent;
    border: none;
}
.card-transparent span{
    
}
.blog-destaques{
    padding-top: 72px;
}
.blog-destaques .card-body{
    padding-bottom: 57px;

}
.blog-destaques-btn-spacing{
    margin-top: 24px;
}
.mapa-text-spacing{
    padding-left: 66px;
    padding-top: 70px;
}
footer{
    background: #252525;
}
footer hr{
    border-top: 1px solid #2E2E2E;
    margin-top: 20px;
    margin-bottom: 25px;
}
.footer-menu-link{
    margin-bottom: 12px;
}
.footer-spacing{
    padding-top: 35px;
}
.conteudos-list hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #C4C4C4;
}
.indicators-counter p{
    padding: 6px 14px;

    border: 1px solid #FFFFFF;
    border-radius: 4px;
}


.carousel-indicators {
    margin-left: 19px;
}
.carousel-indicators li{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;

    background-color: transparent;
    border: 2px solid #fff;
    margin-top: 2px;
}
.carousel-indicators .active{
    width: 18px;
    height: 18px;
    margin-top: 0px;

    background-color: #fff;

}
.indicators-holder{
    position: absolute;
    padding-left: 37px;
    top: 40px;
}
.banner-text-margin{
    margin-top: 70px;
}
.social-banner{
    position: absolute;
    z-index: 5;
}
.social-banner p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;

    transform: rotate(-90deg);
    margin-bottom: 60px;
    margin-top: 120px;
}
.vl {
    border-left: 2px solid #FFFFFF;
    height: 35px;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
  }
.empreendimentos-block{
    margin-bottom: 72px;
}

.banner-smaller{
    background-color: #111;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    margin-top: 72px;
    margin-bottom: 72px;
    padding-top: 34px;
    padding-bottom: 42px;
}
.dash-icon-btn{
    left: -7px;
    position: relative;
}
.content p, .content h4 {
    color: #252525;
    margin-left: auto;
    margin-right: auto;
}
.content p{
    max-width: 750px;
    padding: 1rem;
    line-height: 34px;
}
.content h4{
    max-width: 750px;
}
.post-img{
    max-width: 945px;
    width: 100%;
    display: block;
}
.img-fotos{
    max-height: 918px;
    height: 100%;

}
.img-fotos-planta{
    width: 100%;
    height: auto;
}
.icons-midpost{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;

}
.icons-midpost .icons-group{
    position: absolute;
    display: grid;
    margin-top: 87px;

}
.get-form label{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
}
.get-form .form-group{
    margin-top: 14px;
    margin-bottom: 14px;
}
.get-form-new .form-group{
    margin-top: 14px;
    margin-bottom: 14px;
}
.get-form .btn{
    margin-top: 14px;
    margin-bottom: 14px;
}
.get-form .form-control{
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    box-shadow: none;
    /* identical to box height */

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #2E2E2E;
        /* padding-top: 18px;
    padding-bottom: 18px; */
    
}

.get-form-new .btn{
    margin-top: 14px;
    margin-bottom: 14px;
}
.get-form-new .form-control{
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    box-shadow: none;
    /* identical to box height */

    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #2E2E2E;
        /* padding-top: 18px;
    padding-bottom: 18px; */
    
}

.form-control::placeholder {
    color: #A4A4A4;
    opacity: 1;
}
.get-form .form-control:hover .form-control::placeholder{
    color: #2E2E2E;
    
}
.get-form-new .form-control:hover .form-control::placeholder{
    color: #2E2E2E;
    
}
  
.get-form input{
    height: calc(1.5em + .75rem + 15px);
    
}
.get-form .btn{
    padding-top: 17px;
    padding-bottom: 17px;
    
}
.get-form-new input{
    height: calc(1.5em + .75rem + 15px);
    
}
.get-form-new .btn{
    padding-top: 17px;
    padding-bottom: 17px;
    
}
.feature-outline{
    border: 1px solid #C0C0C0;
    border-radius: 4px;

    max-width: 285px;
    width: 100%;

    display: inline-block;
    /* padding-left: 21px;
    padding-right: 21px; */
    padding-bottom: 89px;
    padding-top: 70px;

    /* padding-top: 5vw;
    padding-bottom: 5vw;
    margin-right: 10px;
    margin-left: 10px; */
}
#background-slider-transition{
    position: absolute;
    height: 100vh;
    width: 100%;

    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

}
.img-bg-pattern-right{
    position: absolute;
    top: -60px;
    right: -30px;
    z-index: 0;
    max-width: 503px;

}
.img-bg-pattern-left{
    position: absolute;
    top: -60px;
    left: 0px;
    z-index: 0;
    max-width: 503px;

}
.hex-bg-pattern{
    position: absolute;
    bottom: -5px;
    left: -10px;
}
.hex-bg-pattern-contact{
    position: absolute;
    bottom: -5px;
    left: -127px;
}
.map-bg-pattern{
    position: absolute;
    top: 30px;
    right: -5px;
}
.img-banner-badge{
    position: absolute !important;
    bottom: 10px;
    right: 278px;
}

.mobile-menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1030;
    background: #111;
}
.collapsing-none .collapsing{
    -webkit-transition: none;
    transition: none;
    display: none;
}
.mobile-menu ul{
    position: absolute;
    bottom: 60px;
    right: 39px;
}
.btn-menu-mobile{
    position: fixed;
    font-size: 25px;
    z-index: 100;
    bottom: 60px;
    right: 39px;
}
.btn-menu-mobile-close{
    font-size: 25px;
    /* position: fixed;
    z-index: 1031;
    bottom: 60px;
    right: 39px; */
}
.mobile-menu ul li a{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: right;
    letter-spacing: 0.01em;
}
.menu-hidden-anim{
    -webkit-transition: all  ease-in-out .5s;
    -moz-transition: all  ease-in-out .5s;
    -o-transition: all  ease-in-out .5s;
    transition: all  ease-in-out .5s;

    /* opacity: 1; */
}


.menu-hidden{
    display: none;
    /* opacity: 0; */
}
#background-slider{
    height: 100vh;
}
#background-slider-transition{
    height: 100vh;
}

.btn-more{
    margin-top: 193px;
}
.card-width{
    width: 262px;
}
.mapLocations{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    /* height: 380px; */
}
.text-over-map{
    z-index: 900;
    position: relative;
}
.mapFade{
    background-image: linear-gradient(to right, #242424, #242424dc, transparent );

    z-index: 80;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 47%;
}
.mapFadeMob{
    background-image: linear-gradient(to bottom, #242424, #242424dc, transparent );

    z-index: 80;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
}
.fullscreen-modal{
    margin: 0 !important;
    max-width: 100% !important;
}
.fullscreen-modal-white{
    margin: 0 !important;
    max-width: 100% !important;
}
.fullscreen-modal .modal-content{
    height: 100vh !important;
    border-radius: 0;
    
    background-image: url(../imgs/fullscreen-bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}
.fullscreen-modal-white .modal-content{
    height: 100vh !important;
    border-radius: 0;
    border: none;
    
}
.fm-monte-o-seu .modal-content{
    height: 100vh !important;
    border-radius: 0;

    background-image: none;
    
    background-color: #00000080; /* Center the image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.btn-light{
    background: #fff !important;
}
.img-info{
    position: absolute;
    z-index: 90;
    max-width: 360px;
    width: 100%;
}
.img-info:hover{
    z-index: 95;
}
.s1{
    top: 180px;
    left: 60px;
}
.s2{
    top: 180px;
    left: 35%;
}
.s3{
    top: 180px;
    right: 60px;
}
.s4{
    top: 480px;
    left: 60px;
}
.s5{
    top: 480px;
    left: 35%;
}
.s6{
    top: 480px;
    right: 60px;
}
.point-info{
    width: 59px;
    height: 59px;
    border-radius: 100px;
    background: #fff;
    color: #252525;
    position: relative;
    z-index: 91;
    text-align: center;
}
.img-cover-size{
    width: 360px;
    height: 506px;
}
.hover-white:hover{
    color: #fff !important;
}
.content p img{
    width: 130% !important;
    height: auto !important;
    position: relative;
    left: -15%;

}
.info-hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 50px 52px;
    position: relative;
    top: -30px;
    display: none;
    opacity: 0;

    -webkit-transition: opacity  ease-in-out .2s;
    -moz-transition: opacity  ease-in-out .2s;
    -o-transition: opacity  ease-in-out .2s;
    transition: opacity  ease-in-out .2s;

}
.point-info:hover + .info-hover{
    display: block;
    opacity: 1;

}
.info-hover:hover{
    display: block;
    opacity: 1;

}
.point-info:hover{
    background: #111;
    color: #fff;
}
#fotos-sec .carousel-inner{
    overflow: visible;
}
.link-monteoseu{
    position: fixed;
    right: -56px;
    bottom: 26%;
    z-index: 99;

    transform: rotate(-90deg);
}
.link-monteoseu-holder{
    position: relative;
}
.link-monteoseu-holder p{
    position: absolute;
    margin-bottom: 0;


    left: 30px;
    top: 20px;
}
.step-offset{
    position: relative;
    top: -35px;
}
.builder-value-holder{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 53px;

    /* background: #2E2E2E;
    border-radius: 4px; */


    position: absolute;
    /* top: 422px; */
    right: -760;
    width: 100%;
}
.builder-value-result{
    padding: 45px;
    width: 100%;
    background: #2E2E2E;
    border-radius: 4px;
}
.builder-value-result hr{
    background: #484848;
}

.banner-smaller-height{
    height: 672px;
}
.list-btns a{
    white-space: nowrap;
}
.img-bg-pattern-right-mobile{
    right: -30px;
    top: -30px;
    position: absolute;
    width: 282px;
}
.img-bg-pattern-left-mobile{
    left: -30px;
    top: -30px;
    position: absolute;
    width: 282px;
}
.top-spacing-contact{
    padding-top: 212px
}
.banner-initial-ml{
    padding-left: 48px;
}
.footer-by{
    top: -2;
    position: relative;
}
.img-planta-uni{
    /* max-width: 110px; */
    max-height: 238px;
    width: auto;
    height: 300px;
}
.uni-outline{
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    padding: 14px;
}
.get-select label{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #797979;

}
.screen-check{
    padding: 33px 64px;
    /* border: 1px solid #000000; */
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
}
.background-check{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.bg-selected{
    background: #00000054;
}
.selected-img-bg{
    background: #00000054;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.check-icon-emp{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}
.check-icon{
    position: relative;
    z-index: 1;
}
.hide-menu{
    top: -100;
}
.fixed-socials{
    position: fixed;
    display: grid;
    width: auto;
    transform: translateX(-158px) !important;
    z-index: 10;
}
.icon-caracteristicas{
    font-size: 66px;
    margin-bottom: 16px;
}
.op-0{
    opacity: 0 !important;
}
.get-checkbox label{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.custom-checkbox .custom-control-label::before{
    transform: scale(1.5);
}
.get-checkbox small{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.custom-control-label::before{
    background-color: transparent;
}
.col-right:nth-child(even){
    padding-left: 36px;
}
.col-right:nth-child(odd){
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 36px;
}
.payment-money{
    padding: 5px 13px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}
.payment-label span{
    padding: 2px 10px;
    font-size: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 100px;
}
.custom-range::-webkit-slider-thumb {
    background: #111111;
}

.custom-range::-moz-range-thumb {
    background: #111111;
}

.custom-range::-ms-thumb {
    background: #111111;
}
/* -webkit-slider-thumb:active{
    background-color: #111111;
}
-webkit-slider-thumb{
    box-shadow: none;
} */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #111111; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #111111; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #111111; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;

  }
.btn-change-range{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    
    border: 1px solid #C4C4C4;
    border-radius: 100px;
}
.footer-qualitare{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

    overflow: hidden;
    width: 100px;
}
.footer-qualitare:hover{
    width: 160px;
}
.post-offset-top{
    padding-top: 200px;
}
.fotos-desc-width{
    max-width: 487px;
}
.animate-css{
    -webkit-transition: all  ease-in-out .2s !important;
    -moz-transition: all  ease-in-out .2s !important;
    -o-transition: all  ease-in-out .2s !important;
    transition: all  ease-in-out .2s !important;

}
.title-spacing{
    margin-bottom: 70px;
}
.mobile-socials p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #909090;
}
.check-img-step{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #E5E5E5;
}
.empreendimento-check-offset{
    left: 23px;
}
.builder-value-holder-mobile{
    background: #2E2E2E;
    border-radius: 4px 4px 0px 0px;
    padding-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
}
.emp-spacing-bottom{
    padding-bottom: 72px;
}
.emp-bg-selected{
    position: relative;
    top: -118px;
}
.w-md-50{
    max-width: 50%;
}
.bg-404{
    background-image: url('/assets_front/imgs/bg-404.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;
}
.font-weight-500{
    font-weight: 500;
}
.cursor-auto:hover{
    cursor: auto !important;
}
.emp-bg-bg{
    z-index: 0;
}
.emp-bg-bg .bg-selected{
    background: #111111;
}
.img-hover-builder{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;
}
.selected-img-bg-bg{
    -webkit-transition: all  ease-in-out .2s;
    -moz-transition: all  ease-in-out .2s;
    -o-transition: all  ease-in-out .2s;
    transition: all  ease-in-out .2s;

    background: #111111;
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;

}
.plan-select-hover:hover .selected-img-bg-bg{
    opacity: .2;
}

.img-hover-builder:hover{
    opacity: .8;
}
.percent-holder-offset{
    position: relative;
    right: -19px;
}
.card-img-top{
    height: 176px;
    object-fit: cover;
}
.btn-right{
    position: absolute;
    top: 43%;
    right: 20px;
    z-index: 10;
}
.btn-left{
    position: absolute;
    top: 43%;
    left: 20px;
    z-index: 10;
}
.print-offset-icon{
    bottom: -2px;
    position: relative;
}
.active-unity{
    color: #111111 !important;
}
#price-tag{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 0;
    width: 330px;
}
#price-tag img{
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 0;
}
.right-offset{
    right: -100% !important;

}
.custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00000015;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00000015;
}
.check-emp-offset{
    width: 0;
    margin-right: 5px;
    margin-top: 5px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!  conteudo de estilos  !!!!!!!!!!!!!!!!!!!!! */ /* END */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* checkbox */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #111111 ;
    background-color: #111111 ;
    /* box-shadow: none; */
}
/* * bootstrap functions */
.btn-dark{
    background: transparent;
    color: #111111;
    border: none;
}
.carousel-indicators{
    margin-top: 5px;
    position: initial;

    justify-content: initial;
    padding-left: initial;
    margin-right: initial;
}
.t-0{
    top: 0 !important;
}
.mt-70{
    margin-top: 70px;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active{
    font-weight: bold !important;
}
/* * media query */
.form-control{
    background: transparent;
    border: none;
    color: #111;
    opacity: 1;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.btn-transparent{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.btn-gray{
    background: #919191;
    color: #fff;
}
.btn-gray:hover{
    background: #000000;
    color: #fff;
}
.fa-15x{
    font-size: 22px;
}
.position-inherit{
    position: inherit;
}
.nav-pills .nav-link{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    font-weight: bold ;
    background: transparent;
    padding: 8px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.nav-pills .nav-link.active:hover, .nav-pills .show > .nav-link:hover{
    background: #fff;
    color: #111;

}

.progress{
    height: 6px;
    background-color: #F0F0F0;
}
.progress .progress-bar{
    background: #4E4E4E;
}

/* ******************* */
/* * spacing functions */
/* ******************* */
.mb-18{
    margin-bottom: 15px;
}
.mx-9{
    margin-right: 9px;
    margin-left: 9px;
}
.mx-14{
    margin-right: 14px;
    margin-left: 14px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mx-10{
    margin-right: 10px;
    margin-left: 10px;
}
.ml-14{
    margin-left: 14px;
}
.mr-14{
    margin-right: 14px;
}
.mr-20{
    margin-right: 20px;
}
.mb-28{
    margin-bottom: 28px;
}
.pr-10{
    padding-right: 10px;
}
.pr-7{
    padding-right: 7px;
}
.pl-10{
    padding-left: 10px;
}
.pl-md-40{
    padding-left: 40px;
}
.pr-md-40{
    padding-right: 40px;
}
.mx-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-42{
    margin-top: 42px;
    margin-bottom: 42px;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.ml-40{
    margin-left: 40px;
}
.mr-40{
    margin-right: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.my-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mt-72{
    margin-top: 72px;
}
.mb-72{
    margin-bottom: 72px;
}
.my-72{
    margin-top: 72px;
    margin-bottom: 72px;
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-10{
    margin-bottom: 10px;
}
.my-200{
    margin-bottom: 200px;
    margin-top: 200px;
}
.mb-200{
    margin-bottom: 200px;
}
.mt-200{
    margin-top: 200px;
}

.pb-100{
    padding-bottom: 100px;
}
.pt-100{
    padding-top: 100px;
}
.pb-120{
    padding-bottom: 120px;
}
.pt-120{
    padding-top: 120px;
}
.py-72{
    padding-top: 72px;
    padding-bottom: 72px;
}
.pt-72{
    padding-top: 72px;
}
.pb-72{
    padding-bottom: 72px;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-40{
    padding-top: 40px;
}
.py-20{
    padding-bottom: 20px;
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pr-26{
    padding-right: 26px;
}
.pl-26{
    padding-left: 26px;
}
.px-26{
    padding-right: 26px;
    padding-left: 26px;
}
.mx-26{
    margin-right: 26px;
    margin-left: 26px;
}
.pb-30{
    padding-bottom: 30px;
}
.pt-30{
    padding-top: 30px;
}
.m-8{
    margin: 8px;
}
.py-116{
    padding-top: 116px;
    padding-bottom: 116px;
}
.py-200{
    padding-bottom: 200px;
    padding-top: 200px;
}
.pb-200{
    padding-bottom: 200px;
}
.pt-200{
    padding-top: 200px;
}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {}


/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .indicators-holder{
        top: 25px;
    }
}
@media (max-width: 1280px) {
    .hex-bg-pattern-contact{
        width: 450px;
        left: -187px;
    }
    
    h1{
        font-size: 54px;
        line-height: 65px;
    }
    .builder-card img{
        margin-left: 0;
    }
    .banner-smaller-height .social-banner{
        top: -60px;
    }
    
    .banner-initial-ml{
        padding-left: 25px;
    }
    .indicators-holder{
        padding-left: 12px;

    }
    .banner-img-holder{
        padding-right: 58px;
    }
    .bg-banner-black-full{
        width: 30%;
    }
    .banner-text-margin{
        margin-top: 57px;
    }
    .img-cover-size{
        width: 300px;
        height: 406px;
    }
    .img-banner-badge{
        right: 228px;
    }
    .social-banner p {
        margin-top: 75px;
    }
    .img-fotos{
        max-height: 618px;    
    }

    .img-info{
        max-width: 280px;
    }    
    .info-hover{
        padding: 35px 38px;
    }
    
    .s1{
        top: 100px;
        left: 100px;
    }
    .s2{
        top: 100px;
        left: 35%;
    }
    .s3{
        top: 100px;
        right: 100px;
    }
    .s4{
        top: 380px;
        left: 100px;
    }
    .s5{
        top: 380px;
        left: 35%;
    }
    .s6{
        top: 380px;
        right: 100px;
    }
    
}


/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }

    h1{
        line-height: 52px;
    }
    .social-banner {
        text-align: left !important;
    }
    .social-banner p{
        left: -50px;
        position: relative;
    }
    .vl{
        margin-left: 23px;
    }
    .banner-img-holder{
        padding-right: 18px;
    }
    .banner-img-holder .img-cover{
        width: 310px;
    }
    .img-banner-badge{
        right: 198px;
    }
    .mobile-banner{
        z-index: 2;
        position: relative;
    }
    .indicators-holder{
        top: 25px;
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}
/* 
## serch terms(MD md bootstrap md-bootstrap)
 */
@media (max-width: 767px){
    .d-mob-none{
        display: none;
    }
    .h-mob-100{
        height: 100vh;
    }
    
    .book-img{
        width: 110%;
        left: -5%;
        position: relative;
    }
    .builder-item-img{
        float: right;
    }    
    .emp-bg-bg{
        float: right;
        width: 100%;
    }
    .emp-bg-bg .bg-selected{
        margin-left: auto;
    }
    .emp-bg-check{
        position: absolute;
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
    .emp-bg-check .bg-selected{
        margin-left: auto;
    }
    .emp-bg-check .check-icon-emp{
        left: initial !important;
        right: 50px !important;
    }
    .pr-11{
        padding-right: 11px !important;
    }
    .pb-mob-300{
        padding-bottom: 300px;
    }
    .img-planta-uni{
        /* max-width: 110px; */
        max-height: 238px;
        width: auto;
        height: auto;
    }
    
    .w-md-50{
        max-width: 100%;
    }
    
    .emp-bg-selected{
        top: -100%;
    }
    
    .builder-card .col-md-4{
        padding-left: 0;
    }

    .emp-spacing-bottom{
        padding-bottom: 0px;
    }
    
    .builder-value-result{
        width: auto;
    }
    
    .col-right:nth-child(even){
        padding-left: 65px;
    }
    .col-right:nth-child(odd){
        display: flex !important;
        justify-content: flex-start !important;
        padding-left: 65px;
    }
    
    .mt-mob-20{
        margin-top: 20px !important;
    }
    .img-small-builder{
        max-height: none;
    }
    .mb-mob-30{
        margin-bottom: 30px !important;
    }
    .empreendimento-check-offset{
        left: 8px;
    }
    .h4-mob{
        font-size: 20px;
        line-height: 26px;
    }
    
    .over-auto-mob{
        overflow: auto;
    }
    .fa-15x{
        font-size: 17px;
    }
    .socials-back-smaller{
        font-size: 20px;
        line-height: 26px;
    }
    .title-spacing{
        margin-bottom: 24px;
    }    
    .mapLocations{
        height: 780px;
    }
    .progress-get{
        padding-left: 25px;
        padding-right: 15px;
        margin-right: 25px;
    }
    .pb-mob-72{
        padding-bottom: 72px !important;
    }
    .pt-mob-200{
        padding-top: 200px !important;
    }
    .pt-mob-42{
        padding-top: 42px !important;
    }
    .pb-mob-42{
        padding-bottom: 42px !important;
    } 
    .pt-mob-32{
        padding-top: 32px !important;
    }
    .carousel-indicators li{
        width: 10px;
        height: 10px;
    }
    .carousel-indicators li .active{
        width: 12px;
        height: 12px;
    }
    .btn-mob-smaller{
        font-size: 16px !important;
        line-height: 23px !important;
        line-height: 23px !important;
        padding: 0px 16px !important;
    }
    .btn-current-smaller{
        font-size: 20px !important;
        line-height: 23px !important;
        line-height: 23px !important;
        padding: 14px 16px !important;
    }
    .info-hover{
        padding: 15px 18px;
    }
    .s1{
        top: 48px;
        left: 0px;
    }
    .s2{
        top: 48px;
        left: 13%;
    }
    .s3{
        top: 48px;
        right: 0px;
    }
    .s4{
        top: 148px;
        left: 0px;
    }
    .s5{
        top: 148px;
        left: 13%;
    }
    .s6{
        top: 148px;
        right: 0px;
    }
    
    .point-info span{
        font-size: 16px;
        line-height: 20px;
    }
    .point-info{
        width: 42px;
        height: 42px;
    }
    #fotos-sec .carousel-inner{
        height: 268px;
    }
    .fotos-filter{
        overflow: auto;
        width: max-content;
        /* display: -webkit-box; */
        margin-left: 30px;
    }
    .fotos-filter .nav-link {
        padding: 6px 16px;
    }
    .fotos-desc-width{
        max-width: 325px;
    }
    .mt-mob-0{
        margin-top: 0;
    }
    .link-monteoseu p{
        /* transform: scale(.7)rotate(-90deg);
        right: -51px; */
        font-size: 20px;
        top: 10px;
        left: 11px;
    }
    .link-monteoseu img{
        width: 128px;
        margin-bottom: 20px;
    }
    .post-offset-top{
        padding-top: 90px;
    }
    #post-content{
        overflow: hidden;
    }
    .socials-display{
        display: none;
    }
    .content p img{
        width: 130% !important;
    }
    .img-bg-pattern-left {
        top: -33px;
        left: 10px;
        max-width: 396px;
    }
    .top-spacing-contact{
        padding-top: 135px
    }    
    .feature-outline {
        padding-bottom: 52px;
        padding-top: 52px;
    }
    .apemp-img{
        width: 110%;
        height: 268px;
    }    
    .pl-md-40{
        padding-left: 0px;
    }
    .pr-md-40{
        padding-right: 0px;
    }    
    .p-mob-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .pt-md-90{
        padding-top: 90px;
    }
    .mt-md-170{
        margin-top: 170px;
    }
    .mt-md-170{
        margin-top: 170px;
    }
    .mb-md-170{
        margin-bottom: 170px;
    }
    .my-md-170{
        margin-bottom: 170px;
        margin-top: 170px;
    }
    .banner-smaller-height{
        height: auto;
    }
    .v-mob-normal{
        margin: initial;
        position: initial;
        top: initial;
        left: initial;
        right: initial;
    
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}


/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }
    h3{
        font-size: 28px;
        line-height: 36px;
    }

    .hide-pc{
        display: none !important;
    }
    .mobile-banner{
        z-index: 2;
        position: relative;
    }

    #background-slider{
        height: initial ;
    }
    #background-slider-transition{
        height: initial ;
    }
    .bg-banner-black-full{
        height: 100%;
    }
    .img-banner-badge{
        left: 50%;
        transform: translateX(-115px);
    }
    .compactos{
        padding-top: 32px;
    }
    .btn-outline-primary {
        padding: 14px 55px;
    
    }
    .card-width{
        width: 100%;
    }
    .card-width img{
        height: 176;
    }

    /* !Spacing and etc */
    .col-spacing-left{
        padding-left: 15px;
    }
    .mobile-no-spacing{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mob-mb-60{
        margin-bottom: 60px;
    }
    .btn-more{
        margin-top: 20px;
    }
    .title-72{
        font-size: 36px;
        line-height: 46px;
    }
    .empreendimentos{
        padding-top: 42px;
    }
    #carousel-empreendimentos{
        padding-top: 42px;
    }
}


/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }
    h3{
        font-size: 28px;
        line-height: 36px;
    }

    .hide-pc{
        display: none !important;
    }
    .mobile-banner{
        z-index: 2;
        position: relative;
    }
    #background-slider{
        height: initial;
    }
    #background-slider-transition{
        height: initial;
    }
    .bg-banner-black-full{
        height: 100%;
    }
    .img-banner-badge{
        left: 50%;
        transform: translateX(-115px);
    }
    .compactos{
        padding-top: 32px;
    }
    .col-spacing-left{
        padding-left: 15px;
    }
    .paragraph-20{
        font-size: 16px;
        line-height: 26px;
    }
    h2{
        font-size: 36px;
        line-height: 46px;
    }
    .btn-outline-primary {
        padding: 14px 55px;
    
    }
    .card-width{
        width: 100%;
    }
    .card-width img{
        height: 176;
    }

    /* !Spacing and etc */
    .mobile-no-spacing{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mob-mb-60{
        margin-bottom: 60px;
    }
    .btn-more{
        margin-top: 20px;
    }
    .title-72{
        font-size: 36px;
        line-height: 46px;
    }
    .empreendimentos{
        padding-top: 42px;
    }
    #carousel-empreendimentos{
        padding-top: 42px;
    }


}

@media (max-width: 319px) {
    h1{
        font-size: 36px;
        line-height: 46px;
    }
    h3{
        font-size: 28px;
        line-height: 36px;
    }

    .title-72{
        font-size: 36px;
        line-height: 46px;
    }

    .hide-pc{
        display: none !important;
    }
    .mobile-banner{
        z-index: 2;
        position: relative;
    }
    #background-slider{
        height: initial ;
    }
    #background-slider-transition{
        height: initial ;
    }
    .bg-banner-black-full{
        height: 100%;
    }
    .img-banner-badge{
        left: 50%;
        transform: translateX(-115px);
    }
    .compactos{
        padding-top: 32px;
    }
    .col-spacing-left{
        padding-left: 15px;
    }
    .paragraph-20{
        font-size: 16px;
        line-height: 26px;
    }
    h2{
        font-size: 36px;
        line-height: 46px;
    }
    h3{
        font-size: 28px;
        line-height: 36px;
    }
    .btn-outline-primary {
        padding: 14px 55px;
    
    }
    .card-width{
        width: 100%;
    }
    .card-width img{
        height: 176;
    }

    /* !Spacing and etc */
    .mobile-no-spacing{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mob-mb-60{
        margin-bottom: 60px;
    }
    .btn-more{
        margin-top: 20px;
    }
    .empreendimentos{
        padding-top: 42px;
    }
    #carousel-empreendimentos{
        padding-top: 42px;
    }

}


/*  */
.assets-example {

    position: absolute;
    right: 0;
    width: 424px;
    height: 251px;
    margin-left: 40%;
    /* background-image: url('/assets_front/path/to/doc'); */
    background-position: center;

}

@media (min-width: 768px) {
    .container-small {
        width: 350px;
    }
    .container-smaller{
        width: 550px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    /* .step-1-row .col-md-5{
        flex: 0 0 45.666667%;
        max-width: 45.666667%;
    }
    .step-1-row .col-md-4{
        flex: 0 0 31.333333%;
    } */
    
    .container-small {
        width: 550px;
    }
    .container-smaller{
        width: 750px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 750px;
    }
    .container-smaller{
        width: 920px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-smaller, .container-large {
    max-width: 100%;
}
@media print {
    .col-print-12{
        flex: 100%;
        max-width: 100%;
    }
}



/* ! MONTE O SEU UPDATE  */
#build-section{
    height: 95vh;
    position: relative;
}
#stepsStart{
    height: 95vh;
    position: relative;
}
#step-1{
    height: 95vh;
}
#step-2{
    height: 95vh;
}
#step-3{
    height: 95vh;
}
#step-4{
    height: 95vh;
}
#step-5{
    height: 95vh;
}
.nav-bottom{
    position: absolute;
    bottom: 5px;
    z-index: 10;
    left: 10px;
    right: 10px;
}
#footer-nav{
    background: #2E2E2E;
    position: absolute;
    height: 65px;
    width: 100%;
    bottom: 0;
}
.btn-step-light{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #eee;
}
.btn-step-light:hover{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #eee;
}
#footer-nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.footer-nav-step{
    width: 3px;
    height: 3px;
    background: #EEEEEE;
    border-radius: 10px;
    margin-top: 8px;
    
    margin-right: 8px;

    -webkit-transition: all  ease-in-out .3s;
    -moz-transition: all  ease-in-out .3s;
    -o-transition: all  ease-in-out .3s;
    transition: all  ease-in-out .3s;

    
}
.footer-nav-step-expanded{
    width: 16px;
    
}
.item-detail-col{
    height: 90vh;
}


.item-detail-img{
    background-color: #fff;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%; 
    position: relative;
}

.item-detail-img-trans{
    background-color: #000;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%; 
    position: absolute;
    z-index: 0;
    
}


.item-detail-detail{
    padding-top: 32px;
    padding-left: 32px;
    max-width: 224px;
}
.item-zoom-icon{
    position: absolute;
    top: 32px;
    right: 32px;
}
.modal-item-img{
    width: 100%;
    height: 85%;
    object-fit: contain;

}
.mt-32{
    margin-top: 32px;
}
.ml-32{
    margin-left: 32px;
}
.mb-32{
    margin-bottom: 32px;
}
.no-wrap-text{
    white-space: nowrap;
}
.percent-filler{
    transition: 1s ease-in-out;
    border-bottom: 2px solid #2E2E2E;
    padding-left: 32px;
    right: 0 !important;
}
.percent-filler p{
    top: 7px;
    position: relative;
    background: #fff;
    padding-left: 7px;
}
.arrow-indicator{
    max-width: 129px;

    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: -110px;
    right: 50px;

}
.select-step-mobile{
    padding: 15px 10px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;

    cursor: pointer;
    background-color: #fafafa;

}

@media (max-width: 768px){
    #footer-nav-bar{
        opacity: 0;
    }
    .item-detail-col{
        min-height: 500px !important;
        height: auto;
        padding: 0;
        padding-bottom: 55px;
    }
    .item-detail-img{
        min-height: 500px;
    }
    .item-detail-img-trans{
        min-height: 500px;
    }
    
    #stepsStart{
        height: auto;
    }
    #build-section{
        height: auto;
    }
    .h-mob-64{
        height: 64vh !important;
        min-height: initial !important;
    }
    #step-1{
        height: 94vh;
    }
    #step-2{
        height: 94vh;
    }
    #step-3{
        height: 94vh;
    }
    #step-4{
        height: 94vh;
    }
    #step-5{
        height: 94vh;
    }
    #step-6{
        height: 94vh;
    }
    
}

.delay-100ms {
    animation-delay: 0.1s !important;
}
.delay-200ms {
    animation-delay: 0.2s !important;
}
.delay-300ms {
    animation-delay: 0.3s !important;
}
.delay-400ms {
    animation-delay: 0.4s !important;
}
.delay-500ms {
    animation-delay: 0.5s !important;
}
.delay-600ms {
    animation-delay: 0.6s !important;
}
.delay-700ms {
    animation-delay: 0.7s !important;
}
.delay-800ms {
    animation-delay: 0.8s !important;
}
.delay-900ms {
    animation-delay: 0.9s !important;
}

.delay-1100ms {
    animation-delay: 1.1s !important;
}
.delay-1200ms {
    animation-delay: 1.2s !important;
}
.delay-1300ms {
    animation-delay: 1.3s !important;
}
.delay-1400ms {
    animation-delay: 1.4s !important;
}
.delay-1500ms {
    animation-delay: 1.5s !important;
}
.delay-1600ms {
    animation-delay: 1.6s !important;
}
.delay-1700ms {
    animation-delay: 1.7s !important;
}
.delay-1800ms {
    animation-delay: 1.8s !important;
}
.delay-1900ms {
    animation-delay: 1.9s !important;
}
.transition{
    -webkit-transition: all  ease-in-out .3s;
    -moz-transition: all  ease-in-out .3s;
    -o-transition: all  ease-in-out .3s;
    transition: all  ease-in-out .3s;

}